[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
serial = "*"
matplotlib = "*"
pyserial = "*"
pyvisa = "*"
pyvisa-py = "*"
usb = "*"
pyusb = "*"
psutil = "*"
zeroconf = "*"

[dev-packages]

[requires]
python_version = "3.9"
